---
import Layout from "../components/layout.astro";
---

<style>
	.smallhome {
		font-family: "Margarine", sans-serif;
		font-weight: 400;
		font-style: normal;
		color: rgb(219, 127, 255);
		font-size: 2vh;
		position: relative;
		left: 0;
		top: -1vh;
	}

	.bighome {
		font-family: "Margarine", sans-serif;
		font-weight: 400;
		font-style: normal;
		color: white;
		font-size: 10vh;
		text-align: center;
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.nav {
		font-family: "Margarine", sans-serif;
		font-weight: 400;
		font-style: normal;
		color: rgb(219, 127, 255);
		font-size: 2vh;
		position: absolute;
		bottom: 3vh;
		right: 3vh;
	}
</style>

<Layout>
	<div class="bighome">
		<div class="smallhome">hi, it's</div><em>a 404!</em>
	</div>
	<div class="nav"><em>try somewhere else?</em></div>
</Layout>
