---
import Layout from "../components/layout.astro";
---

<style>
	p {
		font-family: "Margarine", sans-serif;
		font-weight: 400;
		font-style: normal;
		color: rgb(255, 255, 255);
		font-size: 3vh;
		position: relative;
		left: 3%;
		top: 3%;
		max-width: 98%;
	}

	.nav {
		font-family: "Margarine", sans-serif;
		font-weight: 400;
		font-style: normal;
		color: rgb(219, 127, 255);
		font-size: 2vh;
		position: absolute;
		bottom: 3vh;
		right: 3vh;
	}
</style>

<Layout color1="#561750" color2="#44123F">
	<p>
		Hello! I'm Phi Rinataru (she/it). I'm a 16 year-old nerd who likes to
		tinker with things it finds fun, through a variety of mediums.
		This is my personal portfolio site, where you can look at things I've
		done, and know how to contact me. Use the navigation wheel to your left
		to get to other sections!
	</p>
	<div class="nav"><em>you are at... about</em></div>
</Layout>
