---
import Layout from "../components/layout.astro";
---

<style>
	p {
		font-family: "Margarine", sans-serif;
		font-weight: 400;
		font-style: normal;
		color: rgb(255, 255, 255);
		font-size: 3vh;
		position: relative;
		left: 3%;
		top: 3%;
		max-width: 98%;
	}

	.nav {
		font-family: "Margarine", sans-serif;
		font-weight: 400;
		font-style: normal;
		color: rgb(219, 127, 255);
		font-size: 2vh;
		position: absolute;
		bottom: 3vh;
		right: 3vh;
	}

	.container {
				position: relative;
		left: 3%;
		display: grid;
  grid-template-columns: 10vh 10vh 10vh 10vh;
  grid-gap: 5px;
		}

.container div {
  background-color: rgb(47, 0, 255);
  aspect-ratio: 1;
}

.container img {
  width: 10vh; height: 10vh;
  aspect-ratio: 1;
  border-radius: 25%;
}
</style>
<Layout color1="#13680E" color2="#1A380B">
	<p>
		The best ways to reach me are through my email (<a href="mailto:phi@phinarina.xyz">phi@phinarina.xyz</a>), or my Discord (azphina). I'm happy to recieve any question or inquiry that comes my way, so feel free to ask me about anything!
	</p>
	<div class="nav"><em>you are at... contact</em></div>
</Layout>
